header {
	width: 100%;
	height: 55px;
	background-color: rgba(0, 103, 163, 1);
}

.headerBlock {
	width: 100%;
	max-width: 1235px;
	height: 55px;
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.headerBlock__title {
	width: 331px;
	height: 26px;
	color: white;
	font-size: 28px;
}